.opcoes {
    display: flex;
}

.opcao {
    min-width: 120px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;
}